[Unit]
Description=Edgeware Dummy Node

[Service]
User=edgeware
Group=edgeware
ExecStart=/usr/local/bin/edgeware \
		 --chain=edgeware \
         --name edgeware-dummy \
         --validator

[Install]
WantedBy=multi-user.target
