[Unit]
Description=edgeware Dummy Node

[Service]
User=edgeware
Group=edgeware
ExecStart=/usr/local/bin/edgeware --dev \
         --name edgeware-dummy \
         --validator

[Install]
WantedBy=multi-user.target
